name: Maven-docker-acr-eks-cicd
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v2
      - name: Setup jdk11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          server-id: github
          settings-path: ${{ GITHUB.WORKSPACE }}

      - name: Build with Maven
        run: |
          mvn -B package --file pom.xml
          mkdir staging && cp target/*.war staging
      
      - name: set up a cache for maven
        uses: actions/cache@v2
        with: 
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
        
      - name: persist workflow data as artifact
        uses: actions/upload-artifact@v2
        with:
          name: my-artifact
          path: staging
          
      - name: Install git and push 
        run: |
        cd staging
        sudo apt-get update
        sudo apt-get install git-core -y
        git config --global user.name "ramakri4u"
        git init
        git add .
        git commit -m "commit staging"
        git push origin HEAD:master
          
      - name: upload the built artifact
        uses: actions/upload-artifact@v2.2.4
        with:
          name: staging/github-actions-artifact
          path: $GITHUB_REPOSITORY/target
          
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/myproj:latest
          file: ./Dockerfile

          
      
          
          
          
      


