name: Maven-docker-acr-eks-cicd
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v2
      - name: Setup jdk11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          server-id: github
          settings-path: ${{ GITHUB.WORKSPACE }}

      - name: Build with Maven
        run: mvn -B package --file pom.xml
        
      - name: Publish to GitHub Packages Apache Maven
        run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
        env:
            GITHUB_TOKEN: ${{ github.token }}
            
      - name: find path
        run: cat $GITHUB_WORKSPACE/settings.xml
